body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf0ca;
    font-family: "Montserrat";
    position: relative;
}

nav {
    height: 56px;
    background: #F4D35E;
}
aside {
    width: 80px;
    height: 100%;
    position: absolute;
    background: #F4D35E;
    text-align: center;
    padding-top: 15px;
    top: 0;
    border-right: 1px solid #0D3B66;
}

.main-logo {
    width: 40px;
    height: 30px;
}